<h1>Changelog</h1>

<br />

<div class="well">
<strong>10.08.2012</strong>
<ul>
	<li>dodano ukrywanie/pokazywanie zadań wykonanych za pomocą przycisku</li>
</ul>
</div>

<div class="well">
<strong>08.08.2012</strong>
<ul>
	<li>podział zadań na wykonane/niewykonane, kliknięcie na przycisk TAK/NIE przenosi zad. do odpowiedniej części</li>
	<li>Zablokowana możliwość wpisania pustej nazwy zadania</li>
</ul>
</div>

<div class="well">
<strong>03.08.2012</strong>
<ul>
	<li>dodano nawigację u góry strony, oraz strony do urlopu i changelog (zmiany na stronie)</li>
</ul>
</div>