<h1>Urlop</h1>

<div class="well" id="leave_wrapper">
  <div id="leave_all_left">Ilość dni urlopu/rok: <span class="label label-info" id="leave_all_value">7</span></div>
  <div id="leave_all_right">
    <div id="leave_all_right_up"><i class="icon-chevron-up"></i></div>
    <div id="leave_all_right_down"><i class="icon-chevron-down"></i></div>
  </div>
      <button class="btn btn-info btn-small" id="leave_submit">Zapisz zmiany</button>

  <div id="leave_left">Dni pozostało: <span class="label label-info" id="leave_left_value">9</span></div>
  <div id="leave_used">Dni wykorzystanych: <span class="label label-info" id="leave_used_value">7</span></div>
</div>


<%# rails' tag creates xml-like <div /> messing divs order %>
<%= content_tag :div, nil, :id => "calendar", :data => { :days => @leave_days } %>