@import "bootstrap";

body {
  margin-left: 15px;
  margin-right: 15px;
}

.btn {
  width: 50px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

// show/hide done tasks button 

#button-done {
  width: 230px;
  color: black;
}



table th {
    background-color: #6699CC;
}

.table-operations {
    width: 20%;
  }
.table-name {
  width: 50%;
}

.yes-no {
  width: 70px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.label-success {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#days_left {
  font-size: 15px;
  color: black;
  margin-bottom: 5px;
}

.label-warning {
  color: black;
  font-size: 15px;
}

.progress-warning .bar {
  background-color: #FAA732;
  background-image: -moz-linear-gradient(top, #FAA732, #DF9327);
  background-image: -ms-linear-gradient(top, #FAA732, #DF9327);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAA732), to(#DF9327));
  background-image: -webkit-linear-gradient(top, #FAA732, #DF9327);
  background-image: -o-linear-gradient(top, #FAA732, #DF9327);
  background-image: linear-gradient(top, #FAA732, #DF9327);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAA732', endColorstr='#FFDF9327', GradientType=0);
}

#current_date {
  float: right;
  font-size: 15px;
}

#current_date_label {
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

.progress {
  margin-top: 5px;
  clear: both;
}

//navigation

#nav_container {
  margin-left: 0px;
}

//leave

#leave_all_value, #leave_used_value, #leave_left_value {
  font-size: 26px;
  padding: 1px 3px 0px;
}

// add

#leave_all_left {
  font-size: 25px;
  font-weight: bold;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 50px;
  float: left;
  height: 35px;
}

#leave_all_right {
  float: left;
}

#leave_all_right_up, #leave_all_right_down {
  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

#leave_wrapper {
  padding-bottom: 30px;  
}

#leave_submit {
  margin-left: 45px;
  width: 110px;
}

#leave_left, #leave_used {
  clear: both;
  font-size: 25px;
  font-weight: bold;
  padding-top: 8px;
  height: 30px;
}